# Readup on MySQL innodb options, this file is not copied by default
# For Advanced users
# READ https://gist.github.com/fevangelou/fb72f36bbe333e059b66
# uncomment the Dockerfile COPY statement to do so


[mysqld]
# InnoDB Settings
default_storage_engine          = InnoDB
innodb_buffer_pool_instances    = 1     # Use 1 instance per 1GB of InnoDB pool size
innodb_buffer_pool_size         = 768M    # Use up to 70-80% of RAM & optionally check if /proc/sys/vm/swappiness is set to 0
innodb_file_per_table           = 1
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT # Comment out if not using an SSD or RAID
innodb_flush_neighbors          = 0 # Comment out if not using an SSD or RAID
innodb_log_buffer_size          = 16M
innodb_log_file_size            = 256M
innodb_stats_on_metadata        = 0

#innodb_temp_data_file_path     = ibtmp1:64M:autoextend:max:20G # Control the maximum size for the ibtmp1 file
#innodb_thread_concurrency      = 4     # Optional: Set to the number of CPUs on your system (minus 1 or 2) to better
                                        # contain CPU usage. E.g. if your system has 8 CPUs, try 6 or 7 and check
                                        # the overall load produced by MySQL/MariaDB.

innodb_read_io_threads          = 8
innodb_write_io_threads         = 8
